.outer{
background:burlywood  
}

.inner{
background:lightyellow  
}

div{
background-color: lightyellow; 
}

.biglottery,.Lottery49{
width:490px;
height:280px; 
background-color: lightyellow; 
}

.top1{
text-align: center;  
}
.top2{
font-family:Microsoft JhengHei;  
font-size:16px; 
font-weight: 600; 
color:#000;
line-height:30px;    
}

strong{
color:#FF0000  
}

.gap{
height:5px;
background-color: lightyellow; 
}

.info1,.info2,.info3{
width:130px;
/* height:px;  */ 
font-family:Microsoft JhengHei;  
font-size:18px;
font-weight:600;
text-align: center;
}

.ball,.ord,.sup{
width:50px;
height:50px;
border-radius:50%;
font-size:20px;
font-family: Arial;
font-weight: 900;
color:#000;
line-height:50px;
text-align:center;
background:#ffce00;  
}

.sup{
color:#FFFFFF;
background:#FF0000; 
}






